## 시리즈 만들기

In [13]:
import pandas as pd

# 시리즈 만들기
s = pd.Series(['banana', 42])
print(s)
s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)
# index 라벨을 정의해서 시리즈 만들기
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(s)
# 시리즈에서 loc이나 iloc을 사용할 때에는 행만 설정하면 된다. [:, :] 형태가 아니다.
print(s.loc['Person'])
print(s.iloc[0])

0    banana
1        42
dtype: object
0         Wes McKinney
1    Creator of Pandas
dtype: object
Person         Wes McKinney
Who       Creator of Pandas
dtype: object
Wes McKinney
Wes McKinney

## 데이터프레임 만들기

In [14]:
# 데이터 프레임 만들기
scientists = pd.DataFrame({
    'name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1973-10-16'],
    'Age': [37, 61]
})
print(scientists)

                name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1973-10-16   61

In [15]:
# 데이터와 인덱스, 컬럼 값을 각각 따로 넣어주어 데이터 프레임 만들기
scientists = pd.DataFrame( 
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died']
) 
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

In [16]:
# 딕셔너리 형태의 데이터 부분을 정렬하여 데이터 프레임 만들기
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([ 
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']), 
    ('Born', ['1920-07-25', '1876-06-13']), 
    ('Died', ['1958-04-16', '1937-10-16']), 
    ('Age', [37, 61])
    ])
) 
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

## 데이터프레임에서 시리즈 선택하기

In [46]:
scientists = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age']
)

first_row = scientists.loc['William Gosset'] 
print(type(first_row))
print(first_row)

<class 'pandas.core.series.Series'>
Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

## index, values, keys 사용하기

In [22]:
print(first_row.index, end="\n\n")
print(first_row.values, end="\n\n")
print(first_row.keys(), end="\n\n")
print(first_row.values[0], end="\n\n")
print(first_row.keys()[0], end="\n\n")

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

['Statistician' '1876-06-13' '1937-10-16' 61]

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

Statistician

Occupation

## 시리즈의 mean, min, max, std 메서드 사용하기

In [25]:
ages = scientists['Age']
print(ages, end="\n\n")
# 시리즈의 평균값 구하기
print(ages.mean(), end="\n\n")
# 시리즈의 최소값 구하기
print(ages.min(), end="\n\n")
# 시리즈의 최대값 구하기
print(ages.max(), end="\n\n")
# 시리즈의 표준편차 구하기
print(ages.std(), end="\n\n")

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

49.0

37

61

16.97056274847714

## 시리즈와 불린 추출 사용하기

In [51]:
scientists = pd.read_csv('../data/scientists.csv')
ages = scientists['Age']
# 시리즈의 인덱스에 불린 시리즈를 넣어서 원하는 행만 추출
print(ages > ages.mean(), end='\n\n')
print(ages[ages > ages.mean()], end='\n\n')

# 리스트를 이용하여 위와 똑같은 과정 수행
manual_bool_values = [True, True, False, False, True, True, False, True] 
print(ages[manual_bool_values])

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

## 시리즈와 브로드캐스팅

In [37]:
# 브로드 캐스팅은 단순 연산이 행렬 전체에 영향을 미치는 것을 말한다.

# 시리즈와 시리즈의 연산 (즉, 벡터와 벡터의 연산)
print("----  1  ----")
print(ages + ages)
print(ages * ages)
print()

# 시리즈와 상수의 연산 (즉, 벡터와 스칼라의 연산)
print("----  2  ----")
print(ages + 100)
print(ages * 2)
print()

----  1  ----
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

----  2  ----
0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [39]:
# 하나의 시리즈와 행의 개수가 부족한 시리즈와의 연산
# 연산이 되지 않는 부분은 NaN(Not a Number)로 계산된다.
print("----  3  ----")
print(pd.Series([1, 100]))
print(ages + pd.Series([1, 100]))
print()

# 인덱스를 기준 역순으로 정렬하고 브로드 캐스팅을 진행
rev_ages = ages.sort_index(ascending=False) 
print(rev_ages)
print(ages + rev_ages)

----  3  ----
0      1
1    100
dtype: int64
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

## 데이터프레임과 불린 추출

In [54]:
# 불린 값을 갖은 시리즈를 넣어 
print(type(scientists))
print(scientists[scientists['Age'] > scientists['Age'].mean()])
# 데이터프레임 행을 4개로 줄여 4개에 대한 불린 추출
scientists = scientists.iloc[:4, :]
print(scientists.shape)
print(scientists.loc[[True, True, False, True]])

<class 'pandas.core.frame.DataFrame'>
                   Name        Born        Died  Age Occupation
2  Florence Nightingale  1820-05-12  1910-08-13   90      Nurse
3           Marie Curie  1867-11-07  1934-07-04   66    Chemist
(4, 5)
                Name        Born        Died  Age    Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1     William Gosset  1876-06-13  1937-10-16   61  Statistician
3        Marie Curie  1867-11-07  1934-07-04   66       Chemist

## 데이터프레임과 브로드캐스팅

In [56]:
# 데이터프레임 브로드 캐스팅
# 값 자체가 * 2가 된것을 볼 수 있다.
# 즉, 문자열이면 문자 열이 두번, 숫자 값이면 숫자 값의 2가 곱해진 것을 볼 수 있다.
print(scientists * 2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07

                   Died  Age                Occupation
0  1958-04-161958-04-16   74            ChemistChemist
1  1937-10-161937-10-16  122  StatisticianStatistician
2  1910-08-131910-08-13  180                NurseNurse
3  1934-07-041934-07-04  132            ChemistChemist

## 열의 자료형 바꾸기와 새로운 열 추가하기

In [57]:
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

object
object

In [59]:
# to_datetime 사용하기.
# object 타입을 python 기본 타입인 datetime으로 자료형 변환을 한다.
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d') 
print(born_datetime)
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)
# Born 열과 Died 열의 자료형을 변환하여 새로운 열을 추가한다.
# born_dt와 died_dt 열이 추가 된 것을 볼 수 있다.
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())

# 태어난 날과 죽은 날의 차이를 계산하여 일생의 나이를 계산한다.
# 그리고 이것을 새로운 age_days_dt 열에 추가한다.
scientists['age_days_dt'] = (scientists['died_dt'] - \
                             scientists['born_dt'])
print(scientists)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
Name: Born, dtype: datetime64[ns]
0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
Name: Died, dtype: datetime64[ns]
                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07

     died_dt age_days_dt
0 1958-04-16  13779 days
1 1937-10-16  22404 days
2 1910-08-13  32964 days
3 1934-07-04  24345 days

## 시리즈, 데이터프레임의 데이터 섞어보기

In [61]:
import random

print(scientists['Age'])
# 랜덤 값의 시드를 정한다.
random.seed(42)
# 시리즈의 데이터를 섞는다.
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    37
1    61
2    90
3    66
Name: Age, dtype: int64
0    90
1    61
2    66
3    37
Name: Age, dtype: int64

C:\Users\SWPC\anaconda3\lib\random.py:307: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

## 데이터프레임의 열 삭제하기

In [64]:
print(scientists.columns)
# drop 메소드를 이용해서 열을 또는 행을 삭제한 데이터프레임을 얻는다.
# axis=1이면 열을 axis=0이면 행을 삭제한다.
scientists_dropped = scientists.drop(['Age'], axis=1)
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')
Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')
Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

## 피클 형식으로 저장하기

In [65]:
names = scientists['Name'] 
# 피클이라는 용량이 적은 데이터 자체의 형태로 편집한 데이터를 저장한다.
names.to_pickle('../output/scientists_names_series.pickle')
scientists.to_pickle('../output/scientists_df.pickle')
# 피클 데이터를 읽어오는 방법
scientist_names_from_pickle = pd.read_pickle('../output/scientists_names_series.pickle')
print(scientist_names_from_pickle)
scientists_from_pickle = pd.read_pickle('../output/scientists_df.pickle')
print(scientists_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
Name: Name, dtype: object
                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   90       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   66         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   37       Chemist 1867-11-07

     died_dt age_days_dt
0 1958-04-16  13779 days
1 1937-10-16  22404 days
2 1910-08-13  32964 days
3 1934-07-04  24345 days

## CSV 파일과 TSV 파일로 저장하기

In [66]:
# to_csv (comma separated value) 메소드를 이용하여 sep를 tab으로 바꾸고
# tsv(tab separated value)를 만들어준다.
names.to_csv('../output/scientist_names_series.csv')
scientists.to_csv('../output/scientists_df.tsv', sep='\t')
scientists.to_csv('../output/scientists_df_no_index.csv', index=False)

# 이외의 엑셀로 저장하기 등을 할 수 있다.
'''
names_df = names.to_frame()

import xlwt 
names_df.to_excel('../output/scientists_names_series_df.xls')

import openpyxl 
names_df.to_excel('../output/scientists_names_series_df.xlsx')
'''

"\nnames_df = names.to_frame()\n\nimport xlwt \nnames_df.to_excel('../output/scientists_names_series_df.xls')\n\nimport openpyxl \nnames_df.to_excel('../output/scientists_names_series_df.xlsx')\n"